body {
  margin: 0px;
  font-family: Arial, sans-serif;
  background-image: url('https://i.ibb.co/1fzRLp57/Space-Background-Images.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 480px;
  text-align: center;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  gap: 15px;
}

.card {
  flex: 0 0 100px;
  height: 140px;
  background-image: url('https://i.ibb.co/zV3DxyCj/card-back1.png');
  background-size: cover;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0 5px #000;
  position: relative;
  min-width: 100px;
}

.card.flipped {
  background-image: none;
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 140px;
  border-radius: 8px;
  display: none;
}

.card.flipped img {
  display: block;
}

#moves-counter, #message, #timer {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

#timer {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

#play-again-btn {
  background-color: #008CBA;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 18px;
  margin: 40px auto 0 auto;
  display: none;
}

#play-again-btn:hover {
  background-color: #005f73;
}
